<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>LondrinaSolid-Black.ttf</string>
		<string>LondrinaSolid-Light.†tf</string>
		<string>LondrinaSolid-Regular.†tf</string>
		<string>LondrinaSolid-Thin.ttf</string>
	</array>
</dict>
</plist>
